@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

* 
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #FF5F6D;
    background: -webkit-linear-gradient(to right, #FFC371, #FF5F6D);
    background: linear-gradient(to right, #FFC371, #FF5F6D);
}

section {
    position: relative;
    padding: 100px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    min-height: 100vh;
}

section .logo {
    position: fixed;
    top: 30px;
    color: #fff;
    font-weight: 700;
    font-size: 2em;
    z-index: 100;
    cursor: pointer;
}

section .art {
    position: absolute;
    top: 0;
    right: 60px;
    height: 100%;
}

section .content {
    position: relative;
    max-width: 650px;
    z-index: 1;
}

section .content h2 {
    color: #fff;
    font-size: 3em;
    font-weight: 700;
    line-height: 1.1em;
}

section .content p {
    color: #fff;
    font-size: 1.1em;
    margin: 20px 0 10px;
}

section .content a {
    color: #fff;
    background: #FF5F6D;
    font-size: 1em;
    margin: 20px 0;
    font-weight: 500;
    padding: 10px 30px;
    display: inline-block;
    text-decoration: none;
}

.copyrightText {
    position: absolute;
    bottom: 20px;
    color: #fff;
    font-size: 1.1em;
    margin: 20px 0 10px;
}

.menuToggle {
    position: fixed;
    top: 0;
    right: 0;
    width: 60px;
    height: 60px;
    background: #FFC371 url(/imagenes/menu.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 30px;
    cursor: pointer;
    z-index: 1000;
}

.menuToggle.active {
    background: #FFC371 url(/imagenes/close.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25px;
}

.navegation {
    position: fixed;
    top: 0;
    left: calc(100% - 60px);
    width: 100%;
    height: 100%;
    background: #FF5F6D;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s;
}

.navegation.active {
    left: 0
}

.navegation ul {
    position: relative;
}

.navegation ul li {
    position: relative;
    list-style: none;
    text-align: center;
}

.navegation ul li a {
    font-size: 2.5em;
    color: #fff;
    text-decoration: none;
    font-weight: 300;
}

.navegation ul li a:hover {
    color: #FFC371;
}

.socialBar {
    position: absolute;
    top: 0;
    width: 50px;
    height: 100%;
    border-right: 2px solid #fff;
    background: #ff5f6cc9;
    display: flex;
    justify-content: center;
    align-items: center;
}

.socialBar ul {
    position: relative;
}

.socialBar ul li {
    position: relative;
    list-style: none;
    height: 50px;
}

.socialBar ul li a {
    position: relative;
    display: inline-block;
    transform: scale(0.8);
}

.socialBar ul li a:hover {
    transform: scale(1);
}

.socialBar .email {
    position: absolute;
    bottom: 20px;
    transform: scale(0.8);
}

.socialBar .email:hover {
    transform: scale(1);
    filter: none;
}

@media (max-width: 767px) {
    section {
        padding: 100px 40px;
    }

    section .content h2 {
        font-size: 2.5em;
    }

    .navegation {
        left: 100%;
        background: none;
    }

    section .art {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.5;
    }

    section .logo {
    top: 10px;
    font-size: 1.5em;
    }

    .navegation ul li a {
    font-size: 2em;
    }

    .socialBar {
    right: 0;
    top: 0;
    border-right: none;
    }

}